{% extends 'myapp/base.html' %}
{% block title %}
  About-Us
{% endblock %}
{% block content %}
  {% load static %}
  {% load book_tags %}

  <div class="container">
    <div class="detail-contener">
      <div class="d-description">
        <h3>About Us</h3>
        <div class="dropdown">
          <h6>Who we are</h6>
          <p>The Bookseller has been the business magazine of the book industry since 1858; 
            incorporating the even earlier Bent’s Literary Advertiser, established in 1802. 
            It is one of the UK’s longest-standing magazines. We’ve reported on every significant 
            book trade event, from the launch of George Eliot’s Mill on the Floss in 1860 to 
            Allen Lane’s launch of the paperback to the demise of the Net Book Agreement in 1995 
            and today’s Amazon-led competitive struggles.<br>

            We’re based in London and owned by The Stage Media Company Ltd.<br>
            
            Each week, The Bookseller magazine is the incisive and independent source of business 
            intelligence and analysis for the book trade. For publishers, retailers, agents, libraries, 
            national media and festivals, we are the trusted primary source for everything that’s 
            happening in the industry. For years, The Bookseller’s author interviews have profiled 
            many top authors - or those destined to become so, including the then-unknown J K Rowling 
            in 1997.
            <br>
            Online, thebookseller.com is the book trade’s most visited UK site. With the largest book 
            trade-focused editorial team in the UK, our website is the place to go for the latest, breaking news, in-depth features and more. On Twitter, @thebookseller has more than 200,000 followers.
            <br>
            Subscribers get every issue of the magazine (in print and/or online), plus unlimited access to articles, book charts, previews, rights deals and more on theBookseller.com. Find out about our subscription packages here. Our online and in-person events are industry leading and include the British Book Awards and FutureBook.
            <br>
            The Bookseller also runs the Jobs in Books site, where the book trade advertises its vacancies and where those in the trade, or wanting to enter it, look for their next role.
            <br>
            The editor of The Bookseller is Philip Jones. Meet the rest of The Bookseller team here.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
