<div class="main-header">
    <div class="main-navbar fixed-top">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <div class="userbtn dropdown">
            <i class="fa-solid fa-user"></i>
            <div class="dropdown-content">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Wellcome, {{user.username}}</a>
                <a href="{% url 'dologout' %}">Logout</a>
                {% else %}
                <a href="{% url 'dologin' %}">Log In</a>
                {% endif %}
            </div>            
        </div>
        <h2>BookSeller.com</h2>
        <ul>
            <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
            <li class="{% if request.path == '/contact_us/' %}active{% endif %}"><a href="{%  url 'contact_us' %}">Contact Us</a></li>
            <li class="{% if request.path == '/about_us/' %}active{% endif %}"><a href="{% url 'about_us' %}">About Us</a></li>
            {% if user.is_authenticated %}
            <li class="{% if request.path == '/my_cart/' %}active{% endif %}"><a href="{% url 'my_cart' %}">My Cart</a></li>
            {% else %}
            <li class="{% if request.path == '/cart/' %}active{% endif %}"><a href="{% url 'view_cart' %}">My Cart</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="{% if request.path == '/my_books/' %}active{% endif %}"><a href="{% url 'my_books' %}">My Books</a></li>
            {% endif %}
            <icon class="header-logo">
                {% if user.is_authenticated and user.first_name == '' %}
                <div class="dropdown">
                    <a><button type="button" class="btn btn-outline-primary">{{user.username}}</button></a>
                    <div class="dropdown-content">
                        <a href="{% url 'profile' %}">Profile</a>
                        <a href="{% url 'dologout' %}">Logout</a>
                    </div>
                </div>
                {% elif user.is_authenticated %}
                <div class="dropdown">
                    <a><button type="button" class="btn btn-outline-primary">{{user.first_name}}&nbsp;{{user.last_name}}</button></a>
                    <div class="dropdown-content">
                        <a href="{% url 'profile' %}">Profile</a>
                        <a href="{% url 'dologout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'register' %}">
                    <button type="button" class="btn btn-outline-primary">Sing Up</button>
                </a>
                <a href="{% url 'dologin' %}">
                    <button type="button" class="btn btn-outline-success">Log in</button>
                </a>
                {% endif %}
            </icon>
        </ul>
    </div>
</div>