{% extends 'myapp/base.html' %}
{% block title %}My-Cart{% endblock %}
{% block content %}
{% load static %}
{% load book_tags %}


<div class="d-description">
    {% include 'component/msg.html' %}
    <div class="card-container">
        <div class="row">
          {% for bk in book %}
            <div class="card-1 my-cart">
                <a href="{{bk.book.get_absolute_url}}">
                    <img src="{{bk.book.image.url}}" alt="Card Image" class="card-img">
                    <div class="card-content">
                        <h1>{{bk.book.title}}</h1>
                        <p id="auth">by {{bk.book.author}}</p><br>
                        <small style="color: red;">-{{bk.book.discount}}%</small>
                        <b>₹{% discount_calculation bk.book.price bk.book.discount %}</b>
                        <p>M.R.P.:<del>₹{{bk.book.price}}</del></p>
                    </div>
                </a>
                <div class="my-cart-btn">
                    {% if user.is_authenticated %}
                    <a href="{% url 'remove_cart' bk.book_id %}" class="d-button"><button>Remove</button></a>
                    <a href="{% url 'checkout' bk.book_id %}" class="d-button"><button>Buy Now</button></a>
                    {% else %}
                    <a href="{% url 'remove_from_cart' book_id %}" class="d-button"><button>Remove</button></a>
                    <a href="{% url 'login_required' %}" class="d-button"><button>Buy Now</button></a>
                    {% endif %}
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
    <p class="t-price">
        <h3 id="t-price">
            Total Cart Price: ₹{{ total_price }} 
        </h3>
    </p>
</div>

{% endblock %}